.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.board {
  margin-bottom: 10px;
}

.board-row {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #f4f4f4;
  color: black;
  border: 1px solid #000000;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  background-color: #ececec;
}

.reset-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #0056b3;
}
